<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RF7 Anular Orden de Compra</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <h1>Anular Orden de Compra</h1>
    <div>
        <label for="idOrden">ID Orden</label><br>
        <input type="number" id="idOrden" placeholder="Ingrese el ID de la Orden de Compra"><br><br>
    </div>
    
    <button onclick="anularOrden()">Anular Orden de Compra</button>

    <div id="Mensaje"></div>
    <script>
        function anularOrden(){
            const idOrden = document.getElementById("idOrden").value;
            if (!idOrden){
                document.getElementById("Mensaje").innerText = "Por favor ingrese el ID de la Orden de Compra";
                return;
            }

            const apiURL = `http://localhost:8080/ordenes_compra/${idOrden}/anular`;
            
            fetch(apiURL, {
                method:"POST",
                headers:{
                    "Content-Type": "application/json"
                }
                
            }).then(response => {
                if(response.ok){
                    return response.json();
                }
                throw new Error("Error al anular la orden de compra");
                

            }).then(data => {
                document.getElementById("Mensaje").innerHTML = "Orden de Compra anulada correctamente";
            }).catch(error => {
                document.getElementById("Mensaje").innerHTML = error.message;
            });
        }
    </script>
</body>
